footer {
  a: c;
}
footer div.wrap {
  a: c;
}
footer div.wrap h1 {
  a: c;
}
footer div.wrap h1 a {
  a: c;
}
footer div.wrap address {
  a: c;
}
footer div.wrap ul.sns {
  a: c;
}
footer div.wrap ul.sns li a {
  a: c;
}
footer div.wrap ul.fnb {
  a: c;
}
footer div.wrap ul.fnb li {
  a: c;
}
footer div.wrap ul.fnb li a {
  a: c;
}
footer div.wrap p {
  a: c;
}